<div>
  <h3 [style.marginTop.%]="2.5" class="titulo_contatos">Sobre mim...</h3>
</div>
<div [style.marginTop.%]="1">
  <div class="display_flex aula" [style.marginTop.%]="2">
    <img class="aula_imagem" src="../../assets/imagens/e25fd3bd-dc3b-4f39-95ce-bcf700b88947.jpg" alt="">
    <div [style.width.%]="70" class="container_bio">
      <h2 class="paragrafo_bio color_white ">Olá! Sou Isac lima</h2>
      <p class="paragrafo_bio">Sou músico, compositor, escritor. Sou de Minas Gerais, pai, esposo.<br>
        Minhas História com a música começou a mais de 20 anos atrás. <br>
        Estudei na escola Acordes (tive a oportunidade de estudar com excelentes professores, um deles chegou a tocar com a Fafá de Belém), estudei também no conservatório FEA ( um dos professores  chegou a tocar com Caetano Veloso), fiz parte de  um dos coral da UFMG, já participei de vários projetos sociais, eventos como festivais culturais, casamentos, gravações em estúdio, monitoramentos de mixagem e masterização ao vivo em cultos e demais cerimônias, e fora outros.

        Desenvolvi uma didática e aulas que se ajusta ao perfil do aluno que está começando essa caminha linda no mundo da música.</p>

  </div>

</div>
