<div class="display_flex">
  <div class="contatos">
    <h3 class="titulo_contatos">Contatos</h3>
    <div class="contatos_link">
      <a href="https://www.instagram.com/isac_gig/" [style.marginBottom.%]="15">
          <img src="../../assets/imagens/instagram-icon.svg" alt="instagram" class="logo">
          <span [style.marginLeft.%]="10">
            Instagram
          </span>
      </a>
      <a href="https://api.whatsapp.com/send?phone=5531987798762">
          <img src="../../assets/imagens/whatsapp-icon.svg" alt="whatsapp" class="logo">
          <span [style.marginLeft.%]="10">
            Whatsapp
          </span>
        </a>
    </div>
  </div>
  <img  class="imagem_contatos" src="../../assets/imagens/7b6b19dc-0c5b-4604-ae42-bc012b6997ed.jpg" alt="">
</div>
