<div>
  <h3 [style.marginTop.%]="2.5" class="titulo">Aulas</h3>
</div>
<div [style.marginTop.%]="1">
  <div class="display_flex aula" [style.marginTop.%]="2">
    <img class="aula_imagem" src="../../assets/imagens/e25fd3bd-dc3b-4f39-95ce-bcf700b88947.jpg" alt="">
    <div [style.width.%]="70" class="container_aula">
      <p class="paragrafo" [style.marginTop.vh]="5">Como um músico experiente com mais de 20 anos de prática,<br>posso oferecer aulas personalizadas e adaptadas ao seu nível e estilo musical. </p>
      <br>
      <p class="paragrafo">Minhas aulas são adaptadas para atender a todas as idades.</p>
      <br>
      <p class="paragrafo">Meu objetivo é ajudá-lo a alcançar seus objetivos musicais,<br>seja tocar suas músicas favoritas, compor suas próprias músicas ou se apresentar para um público.</p>
      <br>
    </div>
  </div>
  <div>
    <br>
    <br>
    <p class="paragrafo_aviso">Não perca mais tempo e comece sua jornada musical hoje!</p>
    <br>
    <p class="paragrafo_aviso">Entre em contato comigo agora mesmo para agendar sua primeira aula.</p>
  </div>
</div>
