@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Kanit:ital,wght@1,500&family=Licorice&display=swap');
*{
    padding: 0px;
    margin: 0px;
}

html, body {
  height: 100%;
  background: black;
  }

.mat-dialog-container {
  animation: openClose 2s;
}

@keyframes openClose {
  0% {
    transform: scale(0.4);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.color_white{
  color: white;
}


.mat-mdc-dialog-container {
  background: #ff9a03;
  padding: 1%;
  border: 2px dashed black;
  border-radius: 11px;
}

.mat-mdc-dialog-container .mdc-dialog__surface {
  border-radius: var(--mdc-dialog-container-shape, var(--mdc-shape-medium, 4px));
  padding: 2% 1%;
  background: black !important;
}

.isac_gig{
  font-family: 'Bruno Ace SC', cursive;
  font-size: 2rem;
  font-weight: 1000;
  cursor: pointer;
}
.nome_menu:hover{
  border-bottom: 3px solid #ff9a03;
}

.nome_menu{
  font-size: 3.5vh !important;
  margin-top: 2vh !important;
  border-bottom: 3px solid transparent;
}


.nao_utrapassar_div{
  overflow: hidden;
}

.width_100{
  width: 100%;
}
.menu_navegacao{
    padding: 1% 2%;
    height: 7vh;
    height: 7vh;
    color: #ff9a03;
    display: flex;
    justify-content: space-between;
    align-items: center;
    vertical-align: middle;
}

.menu__central{
    width: 45vw;
    display: flex;
    justify-content: space-around;
    font-size: 2vh;
    cursor: pointer;
    margin-left: -10%;
}

.menu__nome{
    height: 6vh;
    cursor: pointer;
}

.menu__icon{
    transform: scale(1.5);
    cursor: pointer;
    z-index: 2;
}

.menu__lateral{
  height: 20vh;
  position: absolute;
  right: 1.5%;
  top: 10%;
  background: #f8eac400;
  border-radius: 11px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  z-index: 1;
}

.logo{
    height: 30px;
    width: 30px;
}

.logo:hover{
    height: 35px;
    width: 35px;
}

.mobile{
    display: none;
}

.padding-top-7vh-left-20{
  padding-top: 10vh;
  padding-left: 20%;
}

.mat-h3, .mat-subtitle-1, .mat-typography .mat-h3, .mat-typography .mat-subtitle-1, .mat-typography h3{
    font-family: 'Kanit', sans-serif !important;
    font-style: normal;
    font-weight: 500;
    font-size: 2.7vh;
    color: white;
}

.mat-calendar{
  width: 50vh;
  border: 3px dashed #ff9a03;
  border-radius: 50px;
}

.mat-calendar-controls .mat-mdc-icon-button.mat-mdc-button-base {
  width: 40px;
  height: 40px;
  padding: 8px;
  color: white;
}

.mat-calendar-body-cell-content.mat-focus-indicator {
  color: white;
}

.mat-calendar-table-header th {
  text-align: center;
  padding: 0 0 8px 0;
  color: white;
}

.mat-mdc-button .mdc-button__label, .mat-mdc-unelevated-button .mdc-button__label, .mat-mdc-raised-button .mdc-button__label, .mat-mdc-outlined-button .mdc-button__label {
  z-index: 1;
  color: white;
}
.mat-calendar-body-label {
  height: 0;
  line-height: 0;
  text-align: left;
  padding-left: 4.7142857143%;
  padding-right: 4.7142857143%;
  color: white;
}

.mat-calendar-arrow {
  fill: white;
}

.imagem_contatos{
  height: 60vh;
  border-radius: 11px;
  margin-top: 2vh;
}

.display_flex{
  display: flex;
  padding: 0 2%;
  margin-top: 8%;
  width: 96%;
  justify-content: space-between;
}

.display_flex_row_font_4vh{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  font-size: 4vh;
  position: relative;
  left: 76%;
  top: 5vh;
  cursor: pointer;
  width: 25vh;
  outline: none !important;
  border: none !important;
}

.display_flex_row_font_4vh:active{
  border: none !important;
}
.display_flex_row_font_4vh:active{
  outline: none;
}

.fechar{
  position: relative;
  left: 95%;
  margin-bottom: -3%;
  height: 25px;
  width: 25px;
  background: red;
  text-align: center;
  border-radius: 50%;
  font-size: 14px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  font: icon;
  font-weight: 900;
  top: 4%;
  cursor: pointer;
}

.transform_1_5{
  transform: scale(1.5);
}

.saber_mais{
  position: relative;
  left: -2%;
}

.aula{
  justify-content: space-between;
  flex-direction: row-reverse;
  align-items: center;
}

.contatos{
  width: 40%;
}

.contatos_link{
  height: 10%;
  display: flex;
  flex-direction: column;
  margin-top: 20%;
}

.paragrafo{
  font-size: 1.4rem;
  line-height: 4vh;
  text-align: center;
}

.paragrafo_bio{
  font-size: 0.99rem !important;
  line-height: 3vh !important;
  text-align: center;
}
a{
  text-decoration: none;
  display: flex;
  align-self: center;
}
::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  background: black;
}

::-webkit-scrollbar-thumb {
  background-color: #ff9a03;
  border-radius: 20px;
  border: 3px solid black;
}

.titulo{
  font-size: 5vh !important;
  text-align: center;
  color: white;
  border-bottom: 3px solid #ff9a03;
  border-top: 3px solid #ff9a03;
}

p{
  color: white;
}

.texto_central{
  font-size: 1.5rem;
  text-align: center;
  color: white;
  font-family: arial;
  font-style: oblique;
  font-weight: 400;
  line-height: 130%;
}

.font_2rem{
  font-size: 2rem !important;
  color: #ff9a03;
  font-family: fantasy;
  margin-top: 4%;
}

.aula_imagem {
  height: 35vh;
  border: 3px dashed #ff9a03;
  border-radius: 50px;
}

.container_aula{
  background: #f9993708;
  border-radius: 50px;
  height: 35vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-style: oblique;
  padding: 2% 0;
}

.paragrafo_aviso {
  font-size: 2.5rem;
  text-align: center;
  color: #ff9a03;
  font-weight: 600;
}

.entrar_em_contato{
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
  padding: 2ch;
  font-size: 2vh;
  margin-top: 3vh;
  height: 40px;
  width: 60px;
  background: orange;
  align-items: center;
  border-radius: 20px;
  text-align: center;
  font-weight: 600;
  position: relative;
  left: 90%;
  top: -1vh;
  border: 2px dashed black;
  color: black;
}

.titulo_contatos{
  text-align: center;
  color: white;
  border-bottom: 3px solid #ff9a03;
  border-top: 3px solid #ff9a03;
  line-height: 5vh !important;
  font-size: 5vh !important;
}

h2.paragrafo_bio.color_white {
  font-size: 2rem !important;
  font-family: 'Kanit', sans-serif !important;
}

.paragrafo_bio {
  font-size: 1.2rem !important;
  line-height: 5vh !important;
  text-align: center;
  font-family: 'Kanit', sans-serif !important;
}

@media screen and (max-width: 684px) {

  .home_mobile{
    margin-top: 20vh !important;
    display: flex !important;
    align-items: center !important;
    flex-direction: column !important;
    justify-content: center !important;
  }
  .video_mobile{
    margin-top: 30% !important;
  }
  .isac_gig{
    font-family: 'Bruno Ace SC', cursive !important;
    font-size: 5rem !important;
    font-weight: 1000 !important;
    color: orange;
  }
  .navegacao{
    position: absolute;
    top: -1.5vh;
  }
  html, body {
    height: 100%;
    background: black;
    }
    .desktop{
        display: none;
    }
    .mobile{
        height: 100vh;
        width: 100vw;
        display: flex;
        color: #ff9a03;
    }
    .menu__icon_mobile{
        transform: scale(1.5);
        cursor: pointer;
        z-index: 2;
        position: absolute;
        top: 3vh;
        left: 4vw;
    }
    .menu_navegacao_mobile{
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        background: black;
    }
    .menu__nome{
        height: 5vh;
        padding-bottom: 6vh;
        padding-top: 2vh;
        cursor: pointer;
    }
    .menu__central{
      flex-direction: column;
      font-size: 4vh !important;
      margin-top: -4vh;
    }

    .mat-h3, .mat-subtitle-1, .mat-typography .mat-h3, .mat-typography .mat-subtitle-1, .mat-typography h3{
        font-style: normal;
        font-weight: 500;
        font-size: 4vh !important;
        color: white;
        font-family: 'Kanit', sans-serif !important;
        margin-top: 5vh !important;
    }

    .menu__lateral_mobile{
        width: 100vw;
        display: flex;
        position: absolute;
        top: 84vh;
        justify-content: space-around;
    }
    .logo{
        height: 40px;
        width: 40px;
    }

    .logo:hover{
        height: 40px;
        width: 40px;
    }

    .cdk-overlay-pane {
      position: absolute;
      pointer-events: auto;
      box-sizing: border-box;
      z-index: 1000;
      display: flex;
      max-width: 100%;
      max-height: 100%;
      width: 80vw !important;
      height: 33vh !important;
      position: static;
    }
    .fechar {
      position: relative;
      left: 85%;
      margin-bottom: 1%;
      height: 25px;
      width: 25px;
      background: red;
      text-align: center;
      border-radius: 50%;
      font-size: 14px!important;
      display: flex;
      align-items: center;
      justify-content: center;
      font: icon;
      font-weight: 900;
      top: 4%;
      cursor: pointer;
    }
    .texto_central {
      font-size: 0.9rem;
      text-align: center;
      color: #fff;
      font-family: cursive;
      font-style: oblique;
      font-weight: 400;
      line-height: 110%;
      margin-top: 5% !important;
    }
    .font_2rem {
      font-size: 1rem!important;
      color: #ff9a03;
      font-family: fantasy;
      margin-top: 4% !important;
    }
    .display_flex_row_font_4vh {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      font-size: 2vh;
      position: relative;
      left: 20%;
      top: 5vh;
      cursor: pointer;
      width: 25vh;
      outline: none!important;
      border: none!important;
    }
    .saber_mais {
      position: relative;
      left: -2%;
    }
    .nome_menu:hover{
      border-bottom: 3px solid #ff9a0300;
    }

    .paragrafo {
      font-size: 0.99rem !important;
      font-weight: 500;
      line-height: 3vh !important;
      text-align: center;
      font-family: system-ui;
      margin-top: -25vh !important;
    }

    .paragrafo_bio{
      font-size: 0.99rem !important;
      font-weight: 500;
      line-height: 3vh !important;
      text-align: center;
    }

    .aula_imagem {
      height: 20vh;
      border: 3px dashed #ff9a03;
      border-radius: 50px;
      margin-bottom: 19vh !important;
    }
    .container_aula {
      background: #f9993708;
      border-radius: 50px;
      height: 35vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-style: oblique;
      padding: 2% 0;
      width: 85% !important;
    }
    .atencao{
      margin-top: -30% !important;
    }
    .paragrafo_aviso {
      font-size: 1.5rem;
      text-align: center;
      color: #ff9a03;
      font-weight: 600;
      margin-top: -5% !important;
    }

    .aula {
      justify-content: space-between;
      flex-direction: column !important;
      align-items: center;
    }
    .display_flex {
      display: flex;
      padding: 0 2%;
      margin-top: 8%;
      width: 96%;
      justify-content: space-between;
      flex-direction: column;
      align-items: center;
    }
    a {
      text-decoration: none;
      display: flex;
      align-self: center;
      align-items: center;
    }
    .imagem_contatos {
      height: 30vh !important;
      border-radius: 11px;
      margin-top: 10vh;
    }
    .contatos {
      width: 100%;
    }
    .titulo_contatos{
      text-align: center;
      color: white;
      border-bottom: 3px solid #ff9a03;
      border-top: 3px solid #ff9a03;
      line-height: 5vh !important;
    }
    .link{
      position: relative;
      left: 85%;
    }
    .entrar_em_contato{
      display: flex;
      justify-content: flex-end;
      cursor: pointer;
      padding: 2ch;
      font-size: 2vh;
      margin-top: 3vh;
      height: 40px;
      width: 60px;
      background: orange;
      align-items: center;
      border-radius: 20px;
      text-align: center;
      font-weight: 600;
      position: relative;
      left: 70% !important;
      top: -2.5vh !important;
      border: 2px dashed black;
      color: black;
    }
    .container_bio {
      background: #f9993708;
      border-radius: 50px;
      height: 35vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-style: oblique;
      width: 99% !important;
    }

}
@media only screen and (max-width: 675px) {
  .display_flex_row_font_4vh {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    font-size: 2vh;
    position: relative;
    left: 20%;
    top: 2vh;
    cursor: pointer;
    width: 25vh;
    outline: none!important;
    border: none!important;
  }
  .fechar {
    position: relative;
    left: 85%;
    margin-bottom: 1%;
    height: 23px;
    width: 23px;
    background: red;
    text-align: center;
    border-radius: 50%;
    font-size: 14px!important;
    display: flex;
    align-items: center;
    justify-content: center;
    font: icon;
    font-weight: 900;
    top: 4%;
    cursor: pointer;
  }
  .texto_central {
    font-size: 0.9rem;
    text-align: center;
    color: #fff;
    font-family: arial;
    font-style: oblique;
    font-weight: 400;
    line-height: 110%;
    margin-top: 1% !important;
  }
  .isac_gig {
    font-family: 'Bruno Ace SC', cursive !important;
    font-size: 3rem !important;
    font-weight: 1000 !important;
    color: orange;
  }
  .aula_imagem {
    height: 20vh;
    border: 3px dashed #ff9a03;
    border-radius: 50px;
    margin-bottom: 18vh !important;
  }
  .paragrafo {
    font-size: 0.99rem !important;
    line-height: 3vh !important;
    text-align: center;
  }

  .paragrafo_bio{
    font-size: 0.99rem !important;
    line-height: 3vh !important;
    text-align: center;
  }
  .paragrafo_aviso {
    font-size: 1.1rem;
    text-align: center;
    color: #ff9a03;
    font-weight: 600;
    margin-top: -7% !important;
  }
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
